{% block body %}
    {% for key, value in contact %}
        <p> {{ key + 1 }}. {{ value.name }} {{ value.surname }} </p>
        <p> {{ value.description }} </p>
        <br>
    {% endfor %}
{% endblock %}

{% block title %}

{% endblock %}

